body {
    font-family: Arial, sans-serif;
    background-image: url('assets/loginback.jpg'); /* Ajoutez l'URL de votre image de fond ici */
    background-size: cover;
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
	background-color: #f0f8ff;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px; /* Augmenter la largeur de la boîte */
    box-sizing: border-box;
}

.logo {
    width: 250px; /* Ajuster la taille du logo */
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px; /* Ajouter de l'espace en bas du titre */
}

form {
    text-align: left; /* Aligner le texte du formulaire à gauche */
}

label {
    color: #ffffff;
    font-size: 1.2em;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px; /* Augmenter le padding pour des champs plus grands */
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 15px; /* Augmenter le padding pour un bouton plus grand */
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
